<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Adonis</title>
  </head>
  <body>
    <div id="example"></div>
    <div style="display:none">
      @!react('components.Test', id="ss")
    </div>
    {{ script('src/main') }}
  </body>
</html>
